@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg-primary: #fdf7ff;
    --color-bg-secondary: #548bff;
    --color-bg-primary-inverse: #12131b;
    --color-bg-primary-container: #e2e8f0;
    --color-bg-primary-container-inverse: #1e293b;

    --color-text-primary: #000;
    --color-text-secondary: #548bff;
    --color-text-primary-inverse: #fdf7ff;

    --color-errors-primary: #ff0000;

    --color-primary-black: #12131b;
    --color-primary-white: #fdf7ff;

    --color-primary-blue: #548bff;
    --color-primary-blue-100: rgb(84, 139, 255, 10%);
    --color-primary-blue-200: rgb(84, 139, 255, 20%);
    --color-primary-blue-300: rgb(84, 139, 255, 30%);
    --color-primary-blue-400: rgb(84, 139, 255, 40%);
    --color-primary-blue-500: rgb(84, 139, 255, 50%);
    --color-primary-blue-600: rgb(84, 139, 255, 60%);
    --color-primary-blue-700: rgb(84, 139, 255, 70%);
    --color-primary-blue-800: rgb(84, 139, 255, 80%);
    --color-primary-blue-900: rgb(84, 139, 255, 90%);

    --color-primary-grey: rgb(175, 176, 179);
    --color-primary-grey-100: rgb(175, 176, 179, 10%);
    --color-primary-grey-200: rgb(175, 176, 179, 20%);
    --color-primary-grey-300: rgb(175, 176, 179, 30%);
    --color-primary-grey-400: rgb(175, 176, 179, 40%);
    --color-primary-grey-500: rgb(175, 176, 179, 50%);
    --color-primary-grey-600: rgb(175, 176, 179, 60%);
    --color-primary-grey-700: rgb(175, 176, 179, 70%);
    --color-primary-grey-800: rgb(175, 176, 179, 80%);
    --color-primary-grey-900: rgb(175, 176, 179, 90%);
  }
  .dark {
    --color-bg-primary: rgb(18, 19, 28);
    --color-bg-primary-inverse: #fdf7ff;
    --color-bg-primary-container: #1e293b;
    --color-bg-primary-container-inverse: #e2e8f0;

    --color-text-primary: #fdf7ff;
    --color-text-primary-inverse: #000;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: var(--color-bg-primary);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--color-bg-secondary);
    background-clip: content-box;
  }

  @media not all and (min-width: 768px) {
    ::-webkit-scrollbar {
      display: none;
    }
  }

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#app {
  @apply transition-all;
}

.max-width {
  @apply max-w-[1440px] max-lg:max-w-[100vw] mx-auto;
}

/** START: general styles **/

.custom-input {
  @apply h-[45px] px-5 rounded-md w-full
  border-[2px] border-primary 
  bg-slate-100 dark:bg-slate-900 autofill:bg-black 
  text-primary;
}

.custom-input-error {
  @apply border-primary-error focus:border-primary-error focus:outline-none;
}

.custom-btn {
  @apply flex flex-row justify-center items-center 
  relative  
  py-3 px-6 
  outline-none 
  text-primary;
}

.blue-bordered-button {
  @apply border-[2px] border-secondary rounded-md
  transition-all;
}

.disabled {
  @apply transition-all
  font-semibold
  text-primary-grey
  bg-primary-grey-400 border-transparent !important;
}

.brand-title {
  @apply font-bold tracking-[1px] text-[20px] 2xl:text-[25px] 
  first-letter:text-[25px] first-letter:text-secondary 
  text-primary;
}

/** END: general styles **/

/** START: hero styles **/

.hero {
  @apply flex xl:flex-row flex-col gap-5 relative z-0 max-w-[1440px] mx-auto max-2xl:px-20 max-md:px-5 -translate-x-2;
}

.hero__title {
  @apply 2xl:text-[72px] max-md:text-[34px] text-[50px] font-extrabold text-primary;
}

.hero__subtitle {
  @apply text-[27px] max-md:text-[20px] text-primary font-light mt-5;
}

.hero__decorator {
  @apply absolute -z-10
  -bottom-5 left-5 max-md:-bottom-3 max-md:left-3 
  w-full h-full 
  bg-secondary bg-repeat-round  
  overflow-hidden
  rounded-xl;
}

.hero__customButton__container {
  @apply w-[15rem] h-[3.5rem]
  my-10 max-md:my-5
  border-[2px] border-secondary rounded-md
  flex
  flex-nowrap;
}

/** END: hero styles **/

/** START: theme switch styles **/

.theme-switch__container {
  @apply relative
  p-1
  rounded-full
  dark:bg-gray-800 bg-slate-200
  border-2 dark:border-primary border-primary
  flex items-center;
}

.theme-switch__icon__container {
  @apply w-10 h-10
  dark:bg-gray-800 bg-slate-200
  border-2 dark:border-primary border-primary
  rounded-full
  flex justify-center items-center;
}

.theme-switch__icon {
  @apply inline
  px-0 m-0;
}

/** END: theme switch styles **/

/** START: sign up & login styles **/

.main-card-page {
  @apply max-w-[1440px] h-[95vhw]
  mx-auto max-2xl:px-20 max-md:px-0 py-10 max-md:py-2
  flex justify-center items-start;
}

.main-card-page__container {
  @apply w-full max-w-[500px] max-md:w-[100%]
  relative p-[40px] 
  rounded-xl max-md:rounded-none
  bg-primary-container;
}

/** END: sign up & login styles **/

/** START: home & activities styles **/

.box-container {
  @apply mx-auto max-2xl:px-20 max-md:px-0 max-w-[1440px] flex justify-center items-start;
}

.box {
  @apply w-[95vw] min-h-[150px] p-10 max-md:px-5 pb-5 flex relative;
}

.nav-tab {
  @apply h-full
  py-4 px-6 dark:border-primary-black 
  flex items-center justify-between;
}

.nav-tab__selected {
  @apply dark:text-primary text-primary-white bg-secondary;
}

.nav-tab__unselected {
  @apply text-primary-grey bg-primary-container;
}

/** START: home & activities styles **/
